<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link href="/view/css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<!-- Custom Theme files -->
		<link href="/view/css/style.css" rel='stylesheet' type='text/css'/>
		<link href="/view/css/usercenter.css" rel='stylesheet' type='text/css'/>
		<script src="/view/js/jquery.min.js"></script>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="/view/js/bootstrap.js"></script>
		<script src="/view/js/usercenter.js"></script>
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="course Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	</head>

	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" placeholder="Search...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/courses.html">所有课程</a>
								</li>
								<li>
									<a href="/view/gallery.html">考试管理</a>
								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


		<!-- 个人信息 -->
		<div class="container">
			<div class="inner-block">
				<div id="usercenter-tab" class="user-info-tab tab">
					<ul>
						<li class="tab-list active">
							<a href="/view/usercenter/courses">我的课程</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter/notes">我的笔记</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter/questions">我的提问</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/messages">我的消息</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter">基本信息</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/more">更多</a>
						</li>
					</ul>
				</div>
				<div class="gallery">
		            <div class="row">
		                <div class="gallery-bottom">
		                    <div class="gallery-1" id="user-course">
		                    </div>
		                </div>
		            </div>
		        </div>
				<!-- <div class="courses_panel fix-bounds">
					<div class="course_tab">
						<ul id="select-tab" role="tablist">
							<li role="presentation" class="active">
								<a href="#all" role="tab" data-toggle="tab">全部课程</a>
							</li>
							<li role="presentation">
								<a href="#ongoing" role="tab" data-toggle="tab">进行中</a>
							</li>
							<li role="presentation">
								<a href="#finished" role="tab" data-toggle="tab">已结课</a>
							</li>
						</ul>
					</div>
					<div class="tab-content course-content t-scroll">
					</div>
				</div> -->
			</div>
		</div>
		<script src="/view/js/lightbox-plus-jquery.min.js"></script>
		<script type="text/javascript">

		// 获取用户课程
		// 首页课程第一部分
		$(function() {
			getCourses(ROOT + "user_course_list/", courseBK);
		})

		// 动态添加课程
		function getCourses(url, callBK) {
			$.ajax({
				url: url,
				type: "POST",
				dataType: "json",
				crossDomain: true,
				xhrFields: {
					withCredentials: true
				},
				success: function(res) {
					if (res.code == 1000) {
						console.log(res.courses);
						callBK(res);
					} else {
						console.log(res.msg);
					}
				},
				error: function(err) {
					console.log(err);
				}
			})
		}

		// 回调函数
		function courseBK(res) {
			var $box = $("#user-course");
			var courses = res.courses
			var size = courses.length
			for(var i in courses) {
				$box.append(createCourse(courses[i]));
			}
			$box.on("click", "a", function() {
				window.location = $(this).data("href");
			})
		}

		// 生成课程节点
		function createCourse(course) {
			var liStr = "\
				<div class='col-md-3 gallery-grid'>\
					<a data-href='/ view/lesson.html?chapter_index=1&lesson_index=1&course_id=" + course.course_id + "' class='example-image-link' data-lightbox='example-set' target='_blank' >\
					<img class='example-image' src='" + IMGROOT + course.cover_url + "'/></a>\
				</div>\
			"
			return $(liStr);
		}
		</script>
	</body>
</html>
