<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<!-- Custom Theme files -->
		<link href="../css/style.css" rel='stylesheet' type='text/css'/>
		<link href="../css/usercenter.css" rel='stylesheet' type='text/css'/>
		<script src="../js/jquery.min.js"></script>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="../js/bootstrap.js"></script>
		<script src="../js/usercenter.js"></script>
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="course Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	</head>

	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" placeholder="Search...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/courses.html">所有课程</a>
								</li>
								<li>
									<a href="/view/gallery.html">考试管理</a>
								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


		<!-- 个人信息 -->
		<div class="container">
			<div class="inner-block">
				<div id="usercenter-tab" class="user-info-tab tab">
					<ul>
						<li class="tab-list ">
							<a href="/view/usercenter/courses">我的课程</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter/notes">我的笔记</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter/questions">我的提问</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/messages">我的消息</a>
						</li>
						<li class="tab-list active">
							<a href="/view/usercenter">基本信息</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/more">更多</a>
						</li>
					</ul>
				</div>

				<p id="notice"></p>
				<div class="user-info">
					<div class="info-box">
						<div class="ico-box">
							<img src="../images/default/avatar.png" alt="用户中心首页头像" id="navAvatar" class="info-ico" data-id="3">
							<button data-toggle="modal" ,="" id="cropfile" class="cropfile">
								<span class="glyphicon glyphicon-pencil">修改</span>
							</button>
						</div>
						<ul class="fix-ico-right">
							<li class="fix-item">
								<span>用户名：</span>
								<span>小白先生</span>
							</li>
						</ul>
					</div>
					<div class="phone-email info-box">
						<div class="phone">
							<div class="ico-box"><img src="../images/default/phone.jpg" class="info-ico"></div>
							<ul class="fix-ico-right">
								<li class="fix-item">
									<p>手机已验证</p>
									<span id="phone-info">15850680010</span>
									<a id="edit-phone" href="javascript:void(0)" class="state-ture">修改手机号</a>
								</li>
							</ul>
						</div>
						<div class="email">
							<div class="ico-box"><img src="../images/default/avatar.png" class="info-ico loader" src="/assets/index/email"></div>
							<ul class="fix-ico-right">
								<li class="fix-item">
									<p>邮箱未验证</p>
									<span id="email-info">302711074@qq.com</span>
									<a id="valid-email" href="javascript:void(0)" class="state-false">点击验证</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="detail-info">
					<ul>
						<li class="info-item">
							<span>姓名</span>
							<div role="info-content">
								<em role="info" data-attr="name">mida</em>
								<input type="text-field" name="name" class="edit" role="edit">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
						<li class="info-item">
							<span>性别</span>
							<div role="info-content">
								<em role="info" name="gender" data-attr="gender"></em>
								<input type="text-field" name="gender" class="edit" role="edit">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
						<li class="info-item">
							<span>生日</span>
							<div role="info-content">
								<em role="info" data-attr="birthday"></em>
								<input type="text-field" name="birthday" role="edit" class="edit input date">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
						<li class="info-item">
							<span>地址</span>
							<div role="info-content">
								<em role="info" data-attr="address"></em>
								<input type="text-field" name="address" class="edit" role="edit">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
						<li class="info-item">
							<span>学校</span>
							<div role="info-content">
								<em role="info" data-attr="school"></em>
								<input type="text-field" name="school" class="edit" role="edit">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
						<li class="info-item">
							<span>年级</span>
							<div role="info-content">
								<em role="info" data-attr="grade"></em>
								<input type="text-field" name="grade" class="edit" role="edit">
							</div>
							<div class="revise-group" role="revise-group">
								<a href="javascript:void(0)" class="revise" role="revise">修改</a>
								<div class="control-group">
									<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
									<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="intro-box detail-info">
					<div class="intro-head">
						<span>自我介绍</span>
					</div>
					<div class="intro-content info-item">
						<div class="revise-group" role="revise-group">
							<a href="javascript:void(0)" class="revise" role="revise">修改</a>
							<div class="control-group">
								<a href="javascript:void(0)" class="revise" role="cancel">取消</a>
								<a href="javascript:void(0)" class="revise" role="conform" data-target="usercenter/revise">确定</a>
							</div>
						</div>
						<div role="info-content">
							<em role="info" data-attr="introduce">
								<span></span>
							</em>
							<textarea class="edit" name="introduce" role="edit"></textarea>
						</div>
					</div>
				</div>
			</div>
			<link rel="stylesheet" media="screen" href="../css/datepicker.css">
			<script src="../js/datepicker.js"></script>
			<!-- Modal -->

			<div class="modal fade in" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-crop">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
								<span class="sr-only">Close</span>
							</button>
							<p class="modal-title" id="Label">修改图片</p>
						</div>
						<div class="editarea">
							<div class="croparea">
								<span class="file-beautify">
									<form id="cropForm" action="" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="HPbYOuv+WXp9u8lY1DcMDdlesGqy/cyE2dQ5n5wamh+h3iu3VfjHfB+6SYwnRn4PqNN4VGHvd0wRm1CdeCU2pg==">
										<input type="file" name="avatar" class="cropable" id="inputFile">
										<input id="posi_x" type="hidden" name="x">
										<input id="posi_y" type="hidden" name="y">
										<input id="img_width" type="hidden" name="width">
										<input id="img_height" type="hidden" name="height">
										<input id="img_rotate" type="hidden" value="0" name="rotate">
									</form>
								</span>
								<p id="alertType"></p>
								<div class="showpics">
									<img id="imagefile" src="/view/images/default/avatar.png" alt="" class="cropper-hidden">
								</div>
								<div class="btn-group">
									<button type="button" class="btn btn-primary" id="lrotate">
										<span class="glyphicon glyphicon-share-alt rotatey"></span>
									</button>
									<button type="button" class="btn btn-primary" id="rrotate">
										<span class="glyphicon glyphicon-share-alt"></span>
									</button>
								</div>
								<button type="button" class="btn btn-primary" id="reset">
									<span class="glyphicon glyphicon-repeat"></span>
								</button>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" data-loading-text="更新中..." id="subcrop">确定</button>
						</div>
					</div>
				</div>
			</div>
			<link href="../css/crop.css" rel='stylesheet' type='text/css'/>
			<script src="../js/crop.js"></script>
			<script type="text/javascript">

			$(function () {
				//文件上传
				$('#subcrop').on("click", function () {
					 		uploadCrop("avatar", "/usercenter/edit/avatar", "/accounts/");
						});
				});
			</script>
		</div>

	</body>
</html>
