<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link href="/view/css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<!-- Custom Theme files -->
		<link href="/view/css/style.css" rel='stylesheet' type='text/css'/>
		<link href="/view/css/usercenter.css" rel='stylesheet' type='text/css'/>
		<script src="/view/js/jquery.min.js"></script>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="/view/js/bootstrap.js"></script>
		<script src="/view/js/usercenter.js"></script>
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="course Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
	</head>

	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" id="nav-search" placeholder="搜索课程...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/courses.html">所有课程</a>
								</li>
								<li>

								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>


		<!-- 个人信息 -->
		<div class="container">
			<div class="inner-block">
				<div id="usercenter-tab" class="user-info-tab tab">
					<ul>
						<li class="tab-list ">
							<a href="/view/usercenter/courses">我的课程</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/homework">我的作业</a>
						</li>

						<li class="tab-list">
							<a href="/view/usercenter/notes">我的笔记</a>
						</li>
						<li class="tab-list">
							<a href="/view/usercenter/questions">我的提问</a>
						</li>
						<li class="tab-list active">
							<a href="/view/usercenter/messages">我的消息</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter">基本信息</a>
						</li>
						<li class="tab-list ">
							<a href="/view/usercenter/more">更多</a>
						</li>
					</ul>
				</div>
				<div class="info-box fix-bounds t-scroll">
					<table class="table">
						<thead>
							<tr class="tr">
								<td class="td" width="20%">标题</td>
								<td class="td" width="30%">内容</td>
								<td class="td" width="15%">消息类型</td>
								<td class="td" width="10%">状态</td>
								<td class="td" width="25%">接收时间</td>
							</tr>
						</thead>
						<tbody class="ctr"></tbody>
					</table>
				</div>
			</div>
		</div>
	<script src="/view/js/common.js"></script>
  </body>
</html>
