<!DOCTYPE HTML>
<html>
	<head>
		<title>课程详情</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css'/>
		<!-- style  -->
		<link href="css/course-catalog.css" rel="stylesheet">
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="Game Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<script src="js/catalog.js"></script>

	</head>
	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" id="nav-search" placeholder="搜索课程...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/courses.html">所有课程</a>
								</li>
								<li>

								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<!-- header end -->
		<!-- About -->
		<div class="about">
			<div class="container">
				<h2>课程详情</h2>
				<div class="about-info-grids">
					<div class="col-md-5 abt-pic">
						<img src="images/course.png" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-7 abt-info-pic">
						<h3 id="course-name">课程名称</h3>
						<ul>
							<li id="course-intro">课程简介：XXXXXXXXXXXXXXXXXXXXXXXXXXx</li>
						</ul>
						<button class="btn btn-success" id="choose-course">开始学习 <i class="glyphicon glyphicon-heart"></i></button>
						<button class="btn btn-danger" id="withdraw-course">退选课程 <i class="glyphicon glyphicon-remove"></i></button>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="testimonals">
					<h3>课程目录</h3>
					<div class="testimonal-grids">
						<div id="chapter"></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 ftr-info">
						<h3>关于我们</h3>
						<p>此平台用于虹软科技企业<br>
						   员工在线学习，便于员工<br>
						   快速学习新的知识与技能。</p>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>课程类别</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">图像识别</a>
							</li>
							<li>
								<a href="#">人脸识别</a>
							</li>
							<li>
								<a href="#">3D立体成像</a>
							</li>
							<li>
								<a href="#">全景技术</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>相关网站</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">公司主页</a>
							</li>
							<li>
								<a href="#">部门主页</a>
							</li>
							<li>
								<a href="#">我的主页</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>更多信息</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">联系我们</a>
							</li>
							<li>
								<a href="#">合作</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!---->
		<div class="copywrite">
			<div class="container">
				<p>Copyright &copy; 2017.虹软在线学习平台</p>
			</div>
		</div>
		<!---->
	<script src="/view/js/common.js"></script>
  </body>
</html>
