<!DOCTYPE HTML>
<html>
    <head>
        <title>Contact</title>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
        <script src="js/jquery.min.js"></script>
        <!-- jQuery (necessary JavaScript plugins) -->
        <script src="js/bootstrap.js"></script>
        <!-- Custom Theme files -->
        <link href="css/style.css" rel='stylesheet' type='text/css'/>
        <!-- Custom Theme files -->
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta
            name="keywords"
            content="course Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
    </head>
    <body>
        <!-- header -->
        <div class="top-banner">
            <div class="header">
                <div class="container">
                    <div class="headr-left">
                        <div class="social">
                            <a href="#">
                                <i class="facebook"></i>
                            </a>
                            <a href="#">
                                <i class="twitter"></i>
                            </a>
                            <a href="#">
                                <i class="gplus"></i>
                            </a>
                            <a href="#">
                                <i class="pin"></i>
                            </a>
                            <a href="#">
                                <i class="youtube"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="headr-right">
                        <div class="search">
                            <form>
                                <input type="submit" value="">
                                <input type="text" value="" placeholder="Search...">
                            </form>
                        </div>
                        <div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="" style="float: right">
                                <li class="active">
                                    <a href="/view">主页</a>
                                </li>
                                <li>
                                    <a href="/view/courses.html">所有课程</a>
                                </li>
                                <li>
                                    <a href="/view/gallery.html">考试管理</a>
                                </li>
                                <li>
                                    <a href="/view/usercenter">个人中心</a>
                                </li>
                                <li style="display: none;" id="user-info">
                                    <div class="dropdown">
                                        <a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-menu-down"></span>
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li class="m-option">观看记录</li>
                                            <li role="separator" class="divider"></li>
                                            <li class="m-option">我的课程</li>
                                            <li class="m-option">我的笔记</li>
                                            <li class="m-option">我的提问</li>
                                            <li role="separator" class="divider"></li>
                                            <li class="m-option" id="logout">退出</li>
                                        </ul>
                                    </div>
                                </li>
                                <li style="display: none;" id="session-info">
                                    <a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
                                    <a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- banner -->
        <div class="banner">
            <div class="bnr2"></div>
        </div>
        <!---->
        <div class="contact">
            <div class="container">
                <div class="contact-head">
                    <h2>Contact</h2>
                    <form>
                        <div class="col-md-6 contact-left">
                            <input type="text" class="text" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
                            <input type="text" class="text" value="Phone" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Phone';}">
                        </div>
                        <div class="col-md-6 contact-right">
                            <textarea value="Message" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                            <input type="submit" value="SEND"/>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="contact-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12386182.960956775!2d-74.08302114251626!3d40.71866701702417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1436524193425"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen></iframe>
                </div>
                <div class="address">
                    <h3>Our Locations</h3>
                    <div class="locations">
                        <ul>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <div class="address-info">
                                    <h4>New York, Washington</h4>
                                    <p>10-765 MD-Road</p>
                                    <p>Washington, DC, United States,</p>
                                    <p>Phone: 123 456 7890</p>
                                    <p>Mail:
                                        <a href="mailto:info@example.com">info(at)example.com</a>
                                    </p>
                                    <h5>
                                        <a href="">Visit on Google Maps >></a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <div class="address-info">
                                    <h4>London, UK</h4>
                                    <p>10-765 MD-Road</p>
                                    <p>Lorem ipsum, domon sit, UK,</p>
                                    <p>Phone: 123 456 7890</p>
                                    <p>Mail:
                                        <a href="mailto:info@example.com">info(at)example.com</a>
                                    </p>
                                    <h5>
                                        <a href="">Visit on Google Maps >></a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 ftr-info">
                        <h3>About Us</h3>
                        <p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. Suspendisse pharetra, metus sed rutrum pretium.</p>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Categories</h3>
                        <ul class="ftr-list">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Racing</a>
                            </li>
                            <li>
                                <a href="#">Adventure</a>
                            </li>
                            <li>
                                <a href="#">Simulation</a>
                            </li>
                            <li>
                                <a href="#">Bike</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Platform</h3>
                        <ul class="ftr-list">
                            <li>
                                <a href="#">Pc</a>
                            </li>
                            <li>
                                <a href="#">Ps4</a>
                            </li>
                            <li>
                                <a href="#">XBOX 360</a>
                            </li>
                            <li>
                                <a href="#">XBOX ONE</a>
                            </li>
                            <li>
                                <a href="#">PSP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Information</h3>
                        <ul class="ftr-list">
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Wish Lists</a>
                            </li>
                            <li>
                                <a href="#">Site Map</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!---->
        <div class="copywrite">
            <div class="container">
                <p>Copyright &copy; 2015.Company name All rights reserved.More Templates
                    <a href="http://www.17sucai.com/" target="_blank" title="17素材网">17素材网</a>
                    - Collect from
                    <a href="http://www.17sucai.com/" title="网页模板" target="_blank">网页模板</a>
                </p>
            </div>
        </div>
        <!---->

    </body>
</html>
