<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css'/>
		<link href="css/index.css" rel='stylesheet' type='text/css'/>
		<script src="js/jquery.min.js"></script>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="js/bootstrap.js"></script>
		<script src="js/index.js"></script>
		<script src="js/common.js"></script>
		<script src="js/flow_tag.js"></script>
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="course Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>

	</head>

	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" placeholder="Search...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/courses.html">所有课程</a>
								</li>
								<li>
									<a href="/view/gallery.html">考试管理</a>
								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- banner -->
		<!-- Slider-starts-Here -->
		<script src="js/responsiveslides.min.js"></script>
		<script>
			$(function () {
				$("#slider").responsiveSlides({auto: true, nav: false, speed: 500, namespace: "callbacks", pager: true});
			});
		</script>
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">

					<div class="slid banner1">
						<div class="caption">
							<h3>Donec id diam nec ex luctus congue nec sed mi.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
						</div>
					</div>

					<div class="slid banner2">
						<div class="caption">
							<h3>Pellentesque eu ante quis elit interdum cursus.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
						</div>
					</div>

					<div class="slid banner3">
						<div class="caption">
							<h3>Fusce id urna ut felis feugiat fringilla sed quis nisl.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque ex. Morbi iaculis mi in varius auctor. Nullam feugiat erat ex, eu vehicula velit efficitur non.</p>
						</div>
					</div>

				</ul>
			</div>
		</div>
		<div class="copyrights">Collect from
			<a href="http://www.genban.org/">手机网站模板</a>
		</div>
		<!-- content -->
		<div class="content">
			<div class="container">
				<div class="top-courses">
					<a href="/view/courses.html"><h3>热门课程</h3></a>
					<span>这是推荐课程啊啊啊啊</span>
				</div>
				<div class="top-course-grids">
					<ul id="courseUl"></ul>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
				</div>
				<a href="/view/courses.html" class="fix-r top-20">更多>></a>
			</div>
		</div>
		<!-- 超级炫酷的浮动标签 -->
		<div class="content flow_tag">
			<div class="container">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<div class="inner-panel">
						<div class="searcher animated">
							<form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
								<input type="search" name="condition" ,="" placeholder="搜索教员或课程">
								<button type="submit" class="btn-sm btn-danger">
									<sapn class="glyphicon glyphicon-search"></sapn>
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-12">
					<div class="inner-panel">
						<div class="flowshow animated">
							<div id="flow_tag_widget" class="flow-widget" role="label-container">
								<a class="item btn btn-primary" title="精品课程" href="/courses/12" style="left: 345.403px; top: 225.036px; z-index: 147; opacity: 1.4289;">小白先生的英语课</a>
								<a class="item btn btn-primary" title="精品课程" href="/courses/11" style="left: 332.394px; top: 123.126px; z-index: 208; opacity: 17.089;">其它课程</a>
								<a class="item btn btn-primary" title="精品课程" href="/courses/10" style="left: 208.192px; top: 136.644px; z-index: 156; opacity: 2.0528;">作业辅导课程</a>
								<a class="item btn btn-primary" title="精品课程" href="/courses/9" style="left: 244.028px; top: 46.9929px; z-index: 102; opacity: 0.114063; display: none;">艺术课程</a>
								<a class="item btn btn-primary" title="名师推荐" href="/teachers/2" style="left: 382.295px; top: 44.3469px; z-index: 102; opacity: 0.109273; display: none;">WMD</a>
								<a class="item btn btn-primary" title="名师推荐" href="/teachers/1" style="left: 399.289px; top: 81.8269px; z-index: 102; opacity: 0.108264; display: none;">明新教育官方</a>
								<a class="item btn btn-primary" title="新闻热点" href="/articles" style="left: 291.077px; top: 27.1607px; z-index: 111; opacity: 0.239074; color: rgb(255, 255, 255); padding: 5px; background: rgb(48, 137, 155);">测试文章</a>
								<a class="item btn btn-primary" title="学习资料" href="/articles" style="left: 282.793px; top: 34.0593px; z-index: 101; opacity: 0.105404; display: none;">test</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- latest -->
		<div class="content">
			<div class="container">
				<div class="latest-courses">
					<a href="/view/courses.html"><h3>最新课程</h3></a>
					<span>这是最新课程啊啊啊啊</span>
				</div>
				<div class="latest-top">
					<div class="col-md-5 trailer-text" id="trailerBox"></div>
					<div class="col-md-7 trailer">
						<div style="width: 100%; height: auto; text-align: center">
							<img id="trailer-img" src="" alt="" style="width: 90%;">
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- poster -->
		<div class="poster">
			<div class="container">
				<div class="poster-info">
					<h3>Nunc cursus dui in metus efficitur, sit amet ullamcorper dolor viverra.</h3>
					<p>Proin ornare metus eros, quis mattis lorem venenatis eget. Curabitur eget dui euismod, varius nisl eu, pharetra lacus. Sed vehicula tempor leo. Aenean dictum suscipit magna vel tempus. Aliquam nec dui dolor. Quisque scelerisque aliquet est et
						dignissim. Morbi magna quam, molestie sed fermentum et, elementum at dolor</p>
					<a class="hvr-bounce-to-bottom" href="courses.html">Read More</a>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container container-types">
				<div class="l article">
					<h3 class="types-title">热门笔记</h3>
					<div class="article-content">
						<a target="_blank" href="http://www.imooc.com/article/18560" class="hot-content" style="background-image: url(http://img.mukewang.com/592e8e0c00010e8005900100.jpg);" data-track="syrmsj-1-1">大数据框架Hadoop主要模块介绍</a>
						<ul id="note-list">
						</ul>
						<div class="content-more">
							<a target="_blank" class="clearfix" href="http://www.imooc.com/article" data-track="syrmsj-1-8">
								<span>进入笔记获取更多</span>
								<i class="glyphicon glyphicon-menu-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="r question">
					<h3 class="types-title">推荐问题</h3>
					<div class="question-content">
						<a
							style="background-image: url(http://img.mukewang.com/58ac14f10001f87f05900100.jpg);"
							style="background-image: url(http://img.mukewang.com/592e8e0c00010e8005900100.jpg);"
							target="_blank"
							href="http://www.imooc.com/wenda/detail/352739"
							class="hot-content"
							style="background-image: url(http://img.mukewang.com/58ac14f10001f87f05900100.jpg);"
							data-track="sytjyw-1-1">【花式填坑第10期】PHP架构师未来之路</a>
						<ul id="ask-list">

						</ul>
						<div class="content-more clearfix">
							<a target="_blank" class="clearfix" href="http://www.imooc.com/wenda" data-track="sytjyw-1-8">
								<span>进入问题获取更多</span>
								<i class="glyphicon glyphicon-menu-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 ftr-info">
						<h3>About Us</h3>
						<p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. Suspendisse pharetra, metus sed rutrum pretium.</p>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Categories</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Racing</a>
							</li>
							<li>
								<a href="#">Adventure</a>
							</li>
							<li>
								<a href="#">Simulation</a>
							</li>
							<li>
								<a href="#">Bike</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Platform</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Pc</a>
							</li>
							<li>
								<a href="#">Ps4</a>
							</li>
							<li>
								<a href="#">XBOX 360</a>
							</li>
							<li>
								<a href="#">XBOX ONE</a>
							</li>
							<li>
								<a href="#">PSP</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Information</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Wish Lists</a>
							</li>
							<li>
								<a href="#">Site Map</a>
							</li>
							<li>
								<a href="#">Terms & Conditions</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!---->
		<div class="copywrite">
			<div class="container">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates
					<a href="http://www.genban.org/" target="_blank" title="跟版网模板">跟版网模板</a>
					- Collect from
					<a href="http://www.genban.org/" title="网页模板" target="_blank">网页模板</a>
				</p>
			</div>
		</div>
		<!---->
		<link rel="stylesheet" href="css/select-theme-default.css" />
		<script src="js/tether.js"></script>
		<script src="js/select.min.js"></script>
	</body>

</html>
