<!DOCTYPE HTML>
<html>
	<head>
		<title>所有课程</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<script src="js/jquery.min.js"></script>
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="js/bootstrap.js"></script>
		<!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css'/>
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta
			name="keywords"
			content="Game Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<script src="js/search-result.js"></script>

		<!-- Theme style  -->
		<link rel="stylesheet" href="css/search-result.css">

	</head>
	<body>
		<!-- header -->
		<div class="top-banner">
			<div class="header">
				<div class="container">
					<div class="headr-left">
						<div class="social">
							<a href="#">
								<i class="facebook"></i>
							</a>
							<a href="#">
								<i class="twitter"></i>
							</a>
							<a href="#">
								<i class="gplus"></i>
							</a>
							<a href="#">
								<i class="pin"></i>
							</a>
							<a href="#">
								<i class="youtube"></i>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="headr-right">
						<div class="search">
							<form>
								<input type="submit" value="">
								<input type="text" value="" id="nav-search" placeholder="搜索课程...">
							</form>
						</div>
						<div class="details collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="" style="float: right">
								<li class="active">
									<a href="/view">主页</a>
								</li>
								<li>
									<a href="/view/reviews.html">所有课程</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="/view/usercenter">个人中心</a>
								</li>
								<li style="display: none;" id="user-info">
									<div class="dropdown">
										<a id="dLabel" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon-menu-down"></span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="dLabel">
											<li class="m-option">观看记录</li>
											<li role="separator" class="divider"></li>
											<li class="m-option">我的课程</li>
											<li class="m-option">我的笔记</li>
											<li class="m-option">我的提问</li>
											<li role="separator" class="divider"></li>
											<li class="m-option" id="logout">退出</li>
										</ul>
									</div>
								</li>
								<li style="display: none;" id="session-info">
									<a id="login-btn" type="button" data-toggle="modal" data-target=".login">登录</a>
									<a id="signin-btn" type="button" data-toggle="modal" data-target=".login">注册</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<!-- header end -->

		<!-- content -->
		<div class="review">
			<div class="container">
				<h2 id="title">所有课程</h2>
				<!--搜索框-->
				<div class="filter">
					<!--栏目1-->
					<div class="filter-bar">
						<div class="filter-title-box">
							<h4 class="filter-title-text">
								课程分类
							</h4>
						</div>
						<div>
							<a href="#" class="filter-category-text active">
								<h4>全部</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>历史学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>哲学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>艺术学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>文学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>管理学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>经济学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>经济学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>法学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>教育学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>农学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>医学</h4>
							</a>
							<a href="#" class="filter-category-text">
								<h4>工学</h4>
							</a>
						</div>
					</div>

					<!--栏目2-->
					<div class="filter-bar filter-second">
						<div class="filter-title-box">
							<h4 class="filter-title-text">
								排序方式
							</h4>
						</div>
						<a href="#" class="filter-rank-text active">
							<h4>综合排序</h4>
						</a>
						<a href="#" class="filter-rank-text">
							<h4>最新课程</h4>
						</a>
						<a href="#" class="filter-rank-text">
							<h4>本周最热</h4>
						</a>
						<a href="#" class="filter-rank-text">
							<h4>观看最多</h4>
						</a>
					</div>
				</div>

				<div class="review-md1">

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
				<div class="review-md1">

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<div class="review-md1">

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<div class="review-md1">

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<div class="review-md1">

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="col-md-3 sed-md">
						<div class=" col-1">
							<a class="class-pic" href="#"><img class="img-responsive" src="images/re1.jpg" alt=""></a>
							<h4>
								<a class="class-name" href="#">Sed ut perspiciatis unde omnis</a>
							</h4>
							<p class="class-intro">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<!--页码选择-->
				<div></div>

			</div>
		</div>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 ftr-info">
						<h3>About Us</h3>
						<p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. Suspendisse pharetra, metus sed rutrum pretium.</p>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Categories</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Racing</a>
							</li>
							<li>
								<a href="#">Adventure</a>
							</li>
							<li>
								<a href="#">Simulation</a>
							</li>
							<li>
								<a href="#">Bike</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Platform</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Pc</a>
							</li>
							<li>
								<a href="#">Ps4</a>
							</li>
							<li>
								<a href="#">XBOX 360</a>
							</li>
							<li>
								<a href="#">XBOX ONE</a>
							</li>
							<li>
								<a href="#">PSP</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h3>Information</h3>
						<ul class="ftr-list">
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Wish Lists</a>
							</li>
							<li>
								<a href="#">Site Map</a>
							</li>
							<li>
								<a href="#">Terms & Conditions</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!---->
		<div class="copywrite">
			<div class="container">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates
					<a href="http://www.genban.org/" target="_blank" title="跟版网模板">跟版网模板</a>
					- Collect from
					<a href="http://www.genban.org/" title="网页模板" target="_blank">网页模板</a>
				</p>
			</div>
		</div>
		<!---->
	<script src="/view/js/common.js"></script>
  </body>
</html>
